.accordian-wrapper{
	@extend %margin-bottom;
	.ajmn-plus{
		margin-right: $spacing-value / 2;
		&:before{
			float: left;
			padding:2px;
		}
	}
	.active{
		.ajmn-plus:before{
			@include rotate( $val: 45deg );
		}
	}
	//these are the titles that are not active
	.accordion .accordion-navigation > a, .accordion dd > a{
		background-color: $color-shadow;
	}

	//this is the title that is active
	.accordion .accordion-navigation.active > a, .accordion dd.active > a{
		background-color: $color-shadow;
	}

	//this is the relevant content to the focused description list
	.accordion .accordion-navigation > .content.active, .accordion dd > .content.active{
		// background-color: #fff;
		border-bottom:solid thick $color-shadow;
	}	
}