$black: rgba(0,0,0,0.9);
$gold: #d8a32a;
$navy: rgb(12,19,53);
$pale-sky: #6b717f;
$onyx: #353839;

$color-shadow: rgba($black, .125);
$color-light-shade: rgba($black, .2);
$color-dark-shade: #9d9d9d;
$color-primary: $navy;
$color-accent: $gold;
$color-text: darken($pale-sky, 15);


$spacing-value: 20px;

%margin-bottom{
	margin-bottom:$spacing-value;
}

@mixin rotate( $val: 90deg ) {
  -webkit-transform: rotate($val);
     -moz-transform: rotate($val);
      -ms-transform: rotate($val);
       -o-transform: rotate($val);
          transform: rotate($val);
}
@mixin transition($val: all 0.3s ease-in-out) {
	-webkit-transition: $val;
	   -moz-transition: $val;
	    -ms-transition: $val;
	     -o-transition: $val;
	        transition: $val;
}
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	-ms-flex-align: stetch;
}
@mixin flexbox-val($val:1) {
	-webkit-box-flex: $val;
	   -moz-box-flex: $val;
	    -webkit-flex: $val;
	       -moz-flex: $val;
	        -ms-flex: $val;
	            flex: $val;
}
// a mixin for height and line-height
@mixin ht-lh($Value: 16) {
    height: ($Value) + px;
    line-height: ($Value) + px;
}
// a mixin for height, width
@mixin ht-w($Value: 40) {
    height: ($Value) + px;
    width: ($Value) + px;
}
// a mixin for height, width, and line-height
@mixin ht-w-lh($Value: 40) {
    height: ($Value) + px;
    width: ($Value) + px;
    line-height: ($Value) + px;
}
@mixin img-flex() {
	width:100%;
	height:auto;
}
//this is used within the botttom-cta component
//I believe this was used in the the Training Center project
@mixin vertical-center() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
// a mixin for the social-search sliding effect within the header
@mixin header-expand(){
	height:0;
	overflow-y: hidden;
	-webkit-transition: all 0.4s cubic-bezier(0, 1, 0.5, 1);
	   -moz-transition: all 0.4s cubic-bezier(0, 1, 0.5, 1);
	    -ms-transition: all 0.4s cubic-bezier(0, 1, 0.5, 1);
	     -o-transition: all 0.4s cubic-bezier(0, 1, 0.5, 1);
	        transition: all 0.4s cubic-bezier(0, 1, 0.5, 1);
}
@mixin round(){
	border-radius: 100%;
}

.m-lr-auto{
	margin-left: auto;
	margin-right: auto;
}

a{
	color:$gold;
	&:focus{
		color:$gold;
	}
	@include transition();
	// &:link{}
	// &:visited{}
	// &:active{}
	&:hover{
		color: $color-primary;
	}
}

time{
	color:$color-dark-shade;
}

.gist-button .icon{
	font-size: 11px;
	margin-left: 10px;
}















