.swatches{
	text-align: center;
	.color{
		padding:$spacing-value 0;
	}
	.color-primary{
		background-color: $color-primary;
		color:white;
	}
	.color-accent{
		background-color: $color-accent;
	}
	.color-shadow{
		background-color: $color-shadow;
	}
	.color-light-shade{
		background-color: $color-light-shade;
	}
}