// "foundation/components/visibility"; needs to be enabled for display classes
.brand-bar{
	margin-bottom: $spacing-value;
	padding:$spacing-value/2 0;
	background-color: $color-shadow;
	h1{
		font-size: 1em;
	}
	h2{
		font-size: 1.5em;
	}
	article{
		padding:$spacing-value;
	}
}