.swatches{
	text-align: center;
	.color{
		padding:20px 0;
	}
	.color-primary{
		background-color: $color-primary;
		color:white;
	}
	.color-accent{
		background-color: $color-accent;
	}
	.color-shadow{
		background-color: $color-shadow;
	}
	.color-light-shade{
		background-color: $color-light-shade;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {}

/* Medium screens - min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}

/*Large screens - min-width 1025px, large screens*/
@media only screen and (min-width: 64.063em) {}