// "foundation/components/visibility"; needs to be enabled for display classes
.brand-bar{
	@extend %margin-bottom;
	background-color: $color-shadow;
	h2, h3{
		margin:0;
	} 
	h2{
		@extend %h6-font-size;
	}
	h3{
		@extend %h4-font-size;
	}
	article{
		padding:$spacing-value;
	}
	a{
		@extend %small-font-size;
	}
}