.panel{
	border: solid thin $color-dark-shade;
	@extend %margin-bottom;
	padding:$spacing-value;
	position: relative;
	h1,h2,h3,h4,h5{
		line-height: 1em;
	}
	a.subdued{ // this is for likes and comments
		margin-right: $spacing-value;
	}
	img.round{
		@extend %round;
		height:auto !important;
		&:hover{
			border:solid thick $color-accent;
			@extend %transition;
		}
	}
	img{
		display: block;
		@extend %margin-bottom;
	}
	h1,h2,h3,h4{
		@extend %helvetica-bold;
	}
}

.panel.profile{
	img{
		@include ht-w($Value: 220);
		@extend %m-lr-auto;		
	}
}

.panel.image, .panel.showcase{
	img{
		@extend %img-flex;
	}
}

.panel.showcase{
	padding:0;
	.item{
		padding:$spacing-value;
	}
	.item.tabs{
		padding:$spacing-value $spacing-value / 2;
	}
	.avatar, .body{
		border-bottom: solid thin $color-dark-shade;
	}
	.avatar{
		min-height:$spacing-value * 5;
		padding-left:$spacing-value * 5;
		display: block;
		img{
			display: inline-block;
			@include ht-w($Value:60);
			position: absolute;
			left:$spacing-value;
		}
		h2{
			font-size: $h5-font-size;
			line-height: 1em;
			margin-bottom: 0rem;
			padding-top: $spacing-value $spacing-value / 2;
		}
		p{
			margin-bottom: 0;
		}
	}
	p.link-wrapper{
		margin-bottom: 0;
	}
	.tabs{
		@include flexbox();
		font-size: $small-font-size;
	}
	.tab-item{
		@include flexbox-val();
		display: block;
		text-align: center;
		.icon{
			margin-right: $spacing-value $spacing-value / 2;
		}
	}
}