.card{
	background-color: #eee;
	border: solid thin $color-dark-shade;
	margin-bottom: $spacing-value;
	padding:$spacing-value;
	h1,h2,h3,h4,h5{
		line-height: 1em;
	}
	a.subdued{
		margin-right: $spacing-value;
	}
	img.round{
		@include round();
	}
	img{
		margin-bottom: $spacing-value;
		@include img-flex();
	}
	h1,h2,h3,h4{
		@include helvetica-bold();
	}
}
.card.showcase{
	padding:0;
	.item{
		padding:$spacing-value;
	}
	.item.tabs{
		padding:$spacing-value 10px;
	}
	.avatar, .body{
		border-bottom: solid thin $color-dark-shade;
	}
	.avatar{
		min-height:80px;
		padding-left:100px;
		display: block;
		img{
			display: inline-block;
			@include ht-w($Value:60);
			position: absolute;
			left:$spacing-value;
		}
		h2{
			font-size: 1.3em;
			line-height: 1em;
			margin-bottom: 0rem;
			padding-top:10px;
		}
		p{
			margin-bottom: 0;
		}
	}
	p.link-wrapper{
		margin-bottom: 0;
	}
	.tabs{
		@include flexbox();
		font-size: 0.8em;
	}
	.tab-item{
		@include flexbox-val();
		display: block;
		text-align: center;
		.icon{
			margin-right: 10px;
		}
	}
	.item-1{}
	.item-2{}
	.item-3{}
}