.comments-section{
	.comment-list{
		list-style-type: none;
		margin-left: 0;
	}
	.comment-container{
		margin-bottom: 1em;
		list-style: none;
		clear: both;
		overflow: hidden;
	}
	.comment-meta{
		float: left;
		width:4.5em;		
	}
	.avatar{
		@include ht-w($Value: 60);
		display: block;
		border: solid thin $color-shadow;
		margin-bottom: 0.5em;
	}
	.comment-name{
		@extend %small-font-size;
		display: block;
	}
	.comment-text{
		margin-left: 4.8em;
	}
}
 
/* Medium screens - min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
	.comments-section{
		.comment-meta{
			width:6.5em;
		}
		.avatar{
			@include ht-w($Value: 100);
		}
		.comment-text{
			margin-left: 7.5em;
		}
	}
}