.hero{
	background-color: $color-shadow;
	padding:20px;
	h1{
		line-height: 1em;
		margin:0;
		@extend %helvetica-bold;
		@extend %h2-font-size;
	}
	@include medium-screen{
		padding:40px;
	}
	@include large-screen{
		padding:60px;
		h1{
			font-size: 7em;
		}
	}
	.button{
		margin-bottom: 0;
	}
}
.hero-component{
	@extend %margin-bottom;
}
