.nav.icon.icon-ajmn-menu{
	float: right;
	margin-top: 10px;
	line-height: 1em;
	@extend %h4-font-size;
	padding:15px 15px 10px;
	margin-right: -0.6em; //this compensates for the padding in the .row
	&:hover{
		cursor:pointer;
	}
	@include medium-screen{
		display: none;
	}
}

nav.navigation{
	li{
		list-style-type: none;
		@extend %helvetica-bold;
		a{
			@extend %uppercase;
			padding:1em;
			line-height: 1em;
			display:block;
			&.active{
				border-bottom:solid thick $color-primary;
			}
		}
	}
	.has-submenu{
		position: relative;
		z-index: 100;
		&:before{
			font-family: "ajmn-icons";
			font-size: 0.6em;
			line-height: 1em;
			padding:0.8em;
			color:$onyx;
			content: 'g';
			position: absolute;
			right:0;
			top:8px;
		}
		ul{
			margin:0;
			display: none;
			background-color: #eee;
		}
		li{
			display:block;
		}
	}
	.submenu-wrapper{
		background-color: #eee;
	}
	@include small-screen{
		display:none;
		width:100%;
		clear: both;
		li{
			border-bottom:solid thin $color-light-shade;
		}
	}
	@include medium-screen{
		display:block;
		li{
			display:inline-block;
		}
		.has-submenu{
			padding-right:12px;
			ul{
				position:absolute;
				width:200px;
			}
		}
	}
}
.resource-button{
	border:solid thin $color-accent;
	padding-top:1.2em !important;
}

@media only screen and (min-width: 40.063em) {
	.site-navigation{
		margin-top: $spacing-value;
		float: right;
	}
}