.social{
	li{
		list-style-type: none;
		display: inline-block;
		@include transition();
		color:red;
	}
	a{
		color:$onyx;
		&:hover{
			color:$color-accent;
		}
	}
	[class^="ajmn-"]:before,
	[class*=" ajmn-"]:before {
		display: inline-block;
		background-color: $color-light-shade;
		text-align: center;
		font-size: 1.5em;
		@include ht-w-lh();
	}
}
