.social{
	li{
		list-style-type: none;
		display: inline-block;
		@extend %transition;
		margin-bottom: 5px;
	}
	a{
		color:$onyx;
		display: inline-block;
		&:hover{
			color:$color-accent;
		}
	}
	[class^="icon-"]:before,
	[class*=" icon-"]:before {
		display: inline-block;
		background-color: $color-light-shade;
		text-align: center;
		@extend %h4-font-size;
		@include ht-w-lh($Value: 40);
	}
}
