.stories-wrapper{
	section{
		border-top: solid thin $color-shadow;
		padding-top:$spacing-value;
		clear: both;
	}
	.story{
		@extend %margin-bottom;
		h2{
			line-height: 1em;
		}
		img{
			margin-bottom: $spacing-value / 2;
			@extend %img-flex;
		}
		p{
			margin-bottom: $spacing-value / 2;
		}
		.meta{
			@extend %small-font-size;
		}			
	}
	.wide{
		padding:0;
		display: block;
		margin-bottom: 10px;
		.image-wrapper{
			padding:0;
		}
		.heading-story{
			margin-top: 0;
		}
		.medium-8{
			padding-right: 0;
		}
	}
	.anchor-list{
		li{
			margin-bottom: $spacing-value / 2;
		}
	}
	.avatar-list{
		article{
			padding:0;
			margin-bottom: $spacing-value / 2;
		}
		img{
			float: left;
			margin-right: $spacing-value / 2;
			@include ht-w($Value: 50);
		}
		a h3{
			@extend %h6-font-size;
			margin-bottom: 0;
		}
		p{
			@extend %small-font-size;
		}
	}
	@include medium-screen{
		.content{
			border-right:solid thin $color-shadow;
		}
	}
}