.stories-wrapper{
	section{
		border-top: solid thick $color-shadow;
		padding-top:$spacing-value;
		clear: both;
	}
	.heading-section{
		@include helvetica-light();
		text-transform: uppercase;
		font-size: 1.2em;
		// margin-bottom: 0;
	}
	.story{
		margin-bottom: $spacing-value;
		h1,h2,h3,h4,h5{
			@include helvetica-bold();
			line-height: 1em;
		}
		.heading-story{
			font-size: 1.2em;
			margin-bottom: 10px;
		}
		img{
			margin-bottom: 10px;
			@include img-flex();
		}
		p{
			margin-bottom: 10px;
		}
		.meta{
			font-size: 0.8em;
		}			
	}
	.wide{
		padding:0;
		display: block;
		.image-wrapper{
			padding:0;
		}
	}
	.content{
		border-right:solid thin $color-shadow;
	}
	.sidebar{
		// background-color: red;
		// border-left:solid thin $color-shadow;
	}
	.anchor-list{
		li{
			margin-bottom: 10px;
		}
	}
	.avatar-list{
		article{
			padding:0;
			margin-top: 10px;
			margin-bottom: 0;
		}
		img{
			float: left;
			margin-right: 10px;
			@include ht-w($Value: 50);
		}
		a h3{
			font-size: 1.2em;
			margin-bottom: 0;
		}
	}
}