.stories-wrapper{
	section{
		border-top: solid thick $color-shadow;
		padding-top:$spacing-value;
		clear: both;
	}
	.story{
		margin-bottom: $spacing-value;
		h2{
			line-height: 1em;
		}
		img{
			margin-bottom: $spacing-value / 2;
			@include img-flex();
		}
		p{
			margin-bottom: $spacing-value / 2;
		}
		.meta{
			font-size: 0.8em;
		}			
	}
	.wide{
		padding:0;
		display: block;
		margin-bottom: 10px;
		.image-wrapper{
			padding:0;
		}
		.heading-story{
			margin-top: 0;
		}
		.medium-8{
			padding-right: 0;
		}
	}
	.content{
		border-right:solid thin $color-shadow;
	}
	.anchor-list{
		li{
			margin-bottom: $spacing-value / 2;
		}
	}
	.avatar-list{
		article{
			padding:0;
			margin-bottom: $spacing-value / 2;
		}
		img{
			float: left;
			margin-right: $spacing-value / 2;
			@include ht-w($Value: 50);
		}
		a h3{
			font-size: 1em;
			margin-bottom: 0;
		}
	}
}