@font-face {
  font-family: 'Al-Jazeera-Arabic-Light';
  src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Al-Jazeera-Arabic-Regular';
  src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Al-Jazeera-Arabic-Bold';
  src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Al-Jazeera-Arabic-Heavy';
  src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Heavy.ttf') format('truetype');
}

%arabic-light{
	font-family: 'Al-Jazeera-Arabic-Light';
}

%arabic-regular{
	font-family: 'Al-Jazeera-Arabic-Regular';
}

%arabic-bold{
  font-family: 'Al-Jazeera-Arabic-Bold';
}

%arabic-heavy{
	font-family: 'Al-Jazeera-Arabic-Heavy';
}

@font-face {
  font-family: 'Helvetica-Neue-LT-Bold';
  src: url('../fonts/Helvetica-Neue-LT/Helvetica-Neue-LT-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Helvetica-Neue-LT-Light';
  src: url('../fonts/Helvetica-Neue-LT/Helvetica-Neue-LT-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Helvetica-Neue-LT-Roman';
  src: url('../fonts/Helvetica-Neue-LT/Helvetica-Neue-LT-Roman.otf') format('opentype');
}

%helvetica-bold{
  font-family: 'Helvetica-Neue-LT-Bold', Helvetica, Roboto, Arial, sans-serif;
}
%helvetica-light{
  font-family: 'Helvetica-Neue-LT-Light', Helvetica, Roboto, Arial, sans-serif;
}
%helvetica-roman{
  font-family: 'Helvetica-Neue-LT-Roman', Helvetica, Roboto, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  @extend %helvetica-bold;
}

#typography{
  margin-bottom: $spacing-value;
  section{
    margin-bottom: $spacing-value;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

%type-example{
  font-size: 2em;
}
#font-faces{
  p{
    @extend %type-example;
  }
  .arabic-heavy{
    @extend %arabic-heavy;
  }
  .arabic-bold{
    @extend %arabic-bold;
  }
  .arabic-regular{
    @extend %arabic-regular;
  }
  .arabic-light{
    @extend %arabic-light;
  }
  .helvetica-bold{
    @extend %helvetica-bold;
  }
  .helvetica-light{
    @extend %helvetica-light;
  }
  .helvetica-roman{
    @extend %helvetica-roman;
  }
}

blockquote{
  border-left:solid thick $color-light-shade;
  background-color: $color-shadow;
  color:$black;
  @extend %helvetica-bold;
  font-size: 1.3em;
  & cite{
    // background-color: red;
    margin-top: 10px;
    color:$black;
  }
  &:before{
    display:inline-block;
    margin-right: 8px;
    font-family: "ajmn-icons";
    text-align: center;
    content:"3";
  }
}

p.lead{
  line-height: 1.5em;
}
.header-category{
  @extend %helvetica-light;
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 1em;
}
.heading-story{
  font-size: 1.2em;
  margin-bottom: 0;
}


