 @import "settings";
// @import "foundation";

// Or selectively include components
@import "foundation/components/grid";
@import "foundation/components/accordion";
@import "foundation/components/alert-boxes";
// @import "foundation/components/block-grid";
// @import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
// @import "foundation/components/clearing";
// @import "foundation/components/dropdown";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/flex-video"; 
@import "foundation/components/forms";
@import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
// @import "foundation/components/keystrokes";
@import "foundation/components/labels";
// @import "foundation/components/magellan";
// @import "foundation/components/orbit";
@import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/range-slider";
@import "foundation/components/reveal";
// @import "foundation/components/side-nav";
@import "foundation/components/split-buttons";
// @import "foundation/components/switches";
// @import "foundation/components/tables";
// @import "foundation/components/tabs";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/top-bar";
@import "foundation/components/type";
// @import "foundation/components/offcanvas";
@import "foundation/components/visibility";

/////////////////////////////////////////////////////////////

@import "base";
@import "typography";
@import "masthead";
@import "navigation";
@import "hero";
@import "carousel";
@import "slick-contained-carousel";
@import "bottom-cta";
@import "brand-colors";
@import "icon-font";
@import "video-player";
@import "social-icons";
@import "accordian";
@import "comments";
@import "brand-bar";
@import "stories";
@import "pagination";
@import "cards";
@import "footer";

.row{
	max-width: 74em;
}

// Used on the index page
.home-section{
	p{
		width:90%;
	}
}

// Helper for inline elements
.block{
	display: block;
}
.bold{
	@extend %helvetica-bold;
}

#scroll-to-top{
	position: fixed;
	z-index: 100;
	bottom:8px;
	right:5px;
	display:none;
	background-color: rgba(255,255,255,0.8);
	@extend %transition;
	@include rotate( $val: 180deg );
	&:hover{
		cursor:pointer;
	}
	.icon-ajmn-download{
		display:block;
		padding:0;
		margin:0;
		color:$color-accent;
		font-size:2em;
		text-align:center;
		&:before{
			float: left; //this is a bit of a hack - it removes spacing that's similar to padding
			padding:5px;
		}
	}
}

// These are temp - used in template-article-detail.php - Two medium stories
.split-stories-left{
	padding-left: 0;
}
.split-stories-right{
	padding-right: 0;
}
.template-page{
	.hero{
		@extend %margin-bottom;
	}
}

.contact-section{
	margin-bottom: $spacing-value;
	label{
		@extend %helvetica-bold;
	}
	h4{
		margin-bottom: 0;
	}
}

.container{
	position: relative;
	margin-top: 20px;
}

// Dynamic fixed nav
.sticky-sidebar{
	clear: both;
	position:fixed;
	display: inline-block;
	top:30px;
	box-sizing:border-box;
	.active-nav{
		text-decoration: underline;
		color:$onyx;
	}
}
.page-nav{
	padding-top:10px;

	ul{
		margin:0;
		list-style-type: none;
		@extend %helvetica-bold;
		@extend %uppercase;
		li{
			line-height: 2em;
			padding-left:10px;
		}
	}
}
// End Dynamic fixed nav


.label{
	padding-top:0.3rem;
	// @extend %h6-font-size;
}
.template-thumbs{
	img{
		border:solid thin #eee;
	}
}

.alert-box.standard, .alert-box.secondary{
	.close{
		color:white;
	}
}