 @import "settings";
// @import "foundation";

// Or selectively include components
@import "foundation/components/grid";
@import "foundation/components/accordion";
@import "foundation/components/alert-boxes";
// @import "foundation/components/block-grid";
// @import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
// @import "foundation/components/dropdown";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/flex-video"; 
@import "foundation/components/forms";
@import "foundation/components/icon-bar";
@import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
// @import "foundation/components/keystrokes";
@import "foundation/components/labels";
// @import "foundation/components/magellan";
// @import "foundation/components/orbit";
@import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/range-slider";
@import "foundation/components/reveal";
// @import "foundation/components/side-nav";
@import "foundation/components/split-buttons";
@import "foundation/components/sub-nav";
// @import "foundation/components/switches";
// @import "foundation/components/tables";
// @import "foundation/components/tabs";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/top-bar";
@import "foundation/components/type";
// @import "foundation/components/offcanvas";
@import "foundation/components/visibility";

/////////////////////////////////////////////////////////////

@import "base";
@import "typography";
@import "masthead";
@import "navigation";
@import "hero";
@import "brand-colors";
@import "icon-font";
@import "social-icons";
@import "accordian";
@import "comments";
@import "brand-bar";
@import "stories";
@import "resources";
@import "pagination";
@import "cards";
@import "footer";


// $spacing-value: 20px;

.row{
	max-width: 74em;
}

section.row{
	margin-top:40px;
}

// Used on the index page
.home-section{
	p{
		width:90%;
	}
}

// Helper for inline elements
.block{
	display: block;
}
.bold{
	@extend .helvetica-bold;
}

// Used on the Resources Page
.toc{
	border-left:solid thick $color-shadow;
	h3{
		color:$color-dark-shade;
		font-size: 1em;
		margin-bottom: 10px;
	}
	nav li{
		@extend .helvetica-bold;
		list-style-type: none;
		margin-bottom: 5px;
	}
}

#scroll-to-top{
	position: fixed;
	z-index: 100;
	bottom:16px;
	right:20px;
	display:none;
	box-sizing: border-box;
	@include transition();
	@include rotate( $val: 180deg );
	.ajmn-download{
		display:block;
		padding:0;
		margin:0;
		color:$color-accent;
		font-size:2em;
		text-align:center;
	}
}

// These are temp - used in template-article-detail.php
.pl-0{
	padding-left: 0;
}
.pr-0{
	padding-right: 0;
}
.template-page{
	.hero{
		margin-bottom: 20px;
	}
}

.contact-section{
	// background-color: pink;
	margin-bottom: $spacing-value;
	label{
		@extend .helvetica-bold;
	}
	h4{
		margin-bottom: 0;
	}
}

.container{
	position: relative;
	margin-top: 20px;
}

.sticky-sidebar{
	clear: both;
	position:fixed;
	display: inline-block;
	top:30px;
	box-sizing:border-box;
}

//this is the temp for the sidebar
.page-nav{
	padding-top:10px;

	ul{
		margin:0;
		list-style-type: none;
		text-transform: uppercase;
		@extend .helvetica-bold;
		li{
			line-height: 2em;
			padding-left:10px;
		}
	}
}

a.active-nav{
	text-decoration: underline;
	color:$onyx;
}